{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block title %}
    <title>What's My Rank {{ summoner_name }}</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <h1>{{ summoner_name }}</h1>
    {% if solo_queue_tier %}
    <h2>
      SOLOQ: {{ solo_queue_tier }} {{ solo_queue_rank }} {{ solo_queue_lp }} LP
    </h2>
    {% endif %} {% if flex_queue_tier %}
    <h2>
      FLEXQ: {{ flex_queue_tier }} {{ flex_queue_rank }} {{flex_queue_lp }} LP
    </h2>
    {% endif %}
    <form action="">
      <input type="submit" value="Go Back" />
    </form>
    {% endblock %}
  </body>
</html>
