<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style type="text/css">
      .footer {
        position: fixed;
        text-align: center;
        bottom: 0px;
        width: 100%;
      }
    </style>
    {% block title %} {% endblock %}
  </head>
  <body>
    <div class="container">
      <h1>What's My Rank</h1>
      {% block body %} {% endblock %}
    </div>
    <div class="footer">
      Made by Tim Li @ The University of Connecticut
    </div>
  </body>
</html>
